<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="standing" style="width:100%; height:500px;"></div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('standing'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'Comfort Zone Contest Scores',
                left: 'center'
            },
        	tooltip : {
        		trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
    	data:['Temperature', 'Humidity','CO2 Level','PM2.5 Level'],
        bottom: 0
    },
    toolbox: {
    	show: true,
        bottom: 0,
    	feature: {
    		mark: {show: true},
    		dataView: {show: true, readOnly: false},
    		magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
    		restore: {show: true},
    		saveAsImage: {show: true}
    	}
    },
    calculable : true,
    xAxis: [
    {
    	type: 'value',
        name: 'Points'
    }
    ],
    yAxis: [
    {
    	type: 'category',
        name: 'Team',
    	data: ['HKU','PKU*','THU','XJTU-WNEU','YI','WashU-BLD*','Istanbul', 'SUES-XD', 'Shunya', 'Montreal', 'JIA+', 'NJFJ', 'TUBSEU', 'XAUAT', 'SJTUIUC', 'BJTU', 'SIE', 'TJU-TUDA', 'Solar Offspring', 'SCUT-POLITO', 'UNNC Alpha', 'Israel']
    }
    ],
    series: [
    {
    	name:'Temperature',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40), Math.floor(Math.random()*40)]
    },
    {
    	name:'Humidity',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20)]
    },
    {
    	name:'CO2 Level',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20)]
    },
    {
    	name:'PM2.5 Level',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20), Math.floor(Math.random()*20)]
    }
    ]
};


// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
</script>