---
layout: default
title: "Comfort Zone"
---

{% include contents/comfort-zone.html %}


<h3 class="sub-header">Your Performance</h3>
<div class="alert alert-danger">
	<h4>Score Earned: 95</h4>
</div>


<div class="well">
	<h3 class="sub-header">Temparature (40%)</h3>
	{% include contents/temperature.html %}
</div>


<div class="well">
	<h3 class="sub-header">Humidity (20%)</h3>
	Line chart similar to the Temparature Measurements.
</div>


<div class="well">
	<h3 class="sub-header">CO2 Level (20%)</h3>
	Line chart similar to the Temparature Measurements.
</div>


<div class="well">
	<h3 class="sub-header">PM2.5 Level (20%)</h3>
	Line chart similar to the Temparature Measurements.
</div>


<hr>
<button class="btn btn-sm btn-primary" type="submit">Print</button>